/* 
    Document   : dashboard
    Created on : 28.04.2013, 20:29:39
    Author     : Alex
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

.header{
   
    height: 100px;
    width: 100%; 
}

.logo{
    
    height:50px;
    margin-top: 25px;
    margin-right: 50px;
    
}

.up{

    height: 1000px;
    width: 55%;
    float: left;

}

.menue{

    height:1000px;
    width:15%;
    float:left;

}

#mButton1 #mButton2 #mButton3{ 
    width:100px; 
}
.noti{

    width: 30%;
    height: 1000px;
    float:left;

}

#will{
    
    margin-bottom: 25px;
    margin-left: 25px;
}

#logout{
    
    float:right;
    margin-right: 25px;
    margin-top: 70px;
}
