.red{
	background: #E8806C;
	
}

.green{
	background:#67E890;
}

.yellow{
	background:#FFF47E;
}

.blue{
	background:#7EA4FF;
}


.magenta{
	background:#E89C54;
}

.weiss{
	background:white;
}

.ui-panelgrid td, tr {
    border-style: none !important;
    
}


